h1 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

medal a {
    margin: 130px;
    font-size: 28px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}